psutil>=5.9.4
aiohttp==3.10.2
yarl>=1.17.0
pydantic==1.9.0
fake-useragent>=1.4.0
rsa==4.7
beautifulsoup4>=4.11.1
colorama>=0.4.6
requests>=2.28.1
pyTelegramBotAPI==4.15.2
Pillow>=9.3.0
requests-toolbelt>=1.0.0
lxml>=5.3.0
bcrypt>=4.2.0
cryptography>=42.0.8
urllib3>=2.2.2
pysteamauth>=1.1.2
git+https://github.com/sometastycake/steamlib.git#egg=pysteamlib
aiohttp==3.10.2
bcrypt>=4.2.0
beautifulsoup4>=4.11.1
colorama>=0.4.6
cryptography>=42.0.8
fake-useragent>=1.4.0
lxml>=5.3.0
Pillow>=9.3.0
psutil>=5.9.4
pydantic==1.9.0
pysteamauth>=1.1.2
pyTelegramBotAPI==4.15.2
requests>=2.28.1
requests-toolbelt>=1.0.0
rsa==4.7
urllib3>=2.2.2
utils
yarl>=1.17.0
pyarmor
aiohttp==3.10.2
bcrypt
beautifulsoup4
colorama
cryptography
fake-useragent
lxml
Pillow
psutil
pyarmor
pydantic==1.9.0
pysteamauth
pyTelegramBotAPI==4.15.2
requests
requests-toolbelt
rsa==4.7
urllib3
yarl
matplotlib
tonutils
